
@media (max-width: 700px){
    #spline1{
        display: none;
    }
    #spline2{
        display: block;
        height: 200px;
       
        
        
    }
}
@media (min-width: 700px){
    #spline1{
        display: block;
        height: 400px;
        
        
    }
    #spline2{
        display: none;
        
    }

}
@media (max-width: 400px){
    #spline1{
        display: none;
    }
    #spline2{
        display: block;
        height: 200px;
        
        
    }
}

